// @import "compass/functions"
@import "node_modules/compass-mixins/lib/compass";


$jom: #ccc;

html, body {
  background-color: $jom;
  padding: 0;
  margin: 0;
  color: #f5f5f5;
  font-size: 1rem;
}

h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

$paddingBase: 12px;

.padding-1-0 {
  padding: $paddingBase 0;
}

.padding-0-1 {
  padding: 0 $paddingBase;
}

.padding-1-1 {
  padding: $paddingBase $paddingBase;
}

.padding-2-1 {
  padding: $paddingBase*2 $paddingBase;
}

.padding-1-2 {
  padding: $paddingBase $paddingBase*2;
}

.padding-2-2 {
  padding: $paddingBase*2 $paddingBase*2;
}

.text-center {
  text-align: center;
}

.w25 {
  width: 25%;
}

.w33 {
  width: (1/3) * (100) + 0%;
}

.w50 {
  width: 50%;
}

.w66 {
  width: (2/3) * (100) + 0%;
}

.w75 {
  width: 75%;
}

.w100 {
  width: 100%;
}

.hidden {
  display: none;
}


.flex {
  @include display-flex;
}

.inline-flex {
  @include display-flex(inline-flex);
}

.flex-column {
  @include flex-direction(column);
}

.flex-column-reverse {
  @include flex-direction(column-reverse);
}

.flex-justify {
  @include justify-content(space-between);
}

.flex-justify-space-around {
  @include justify-content(space-around);
}

.flex-justify-center {
  @include justify-content(center);
}

.flex-align-center {
  @include align-items(center);
  @include justify-content(center);
}

.align-items-center {
  @include align-items(center);
}

.align-items-end {
  @include align-items(flex-end);
}

.align-self-center {
  @include align-self(center);
}

.align-self-start {
  @include align-self(flex-start);
}

.align-self-end {
  @include align-self(flex-end);
}

.justify-content-center {
  @include justify-content(center);
}

.flex-wrap {
  @include flex-wrap(wrap);
}

.align-items-stretch {
  @include align-items(stretch);
}
